* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

/* tag selectors */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7em;
  /* color: #777; */
  background-color: #d9dcd6;
  /* margin: 10px;*/
  /* padding: 30px;  */
}

h2 {
  text-align: center;
  margin: 5px;
}

a h2 {
  color: #ffffff;
  text-decoration: none;
}

/* li {
  list-style-type: none;
} */

main {
  /* display: flex;
  flex-direction: column; */
  padding: 30px;
}

ul {
  display: flex;
  justify-content: space-around;
}

ul > li a {
  text-decoration: none;
  color: rgba(0, 0, 255, 0.74);
  font-size: 2rem;
}

/* Class selectors */
.about-me p {
  position: relative;
  margin: 5px;
  margin-top: 5px;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.my-photo {
  /* position: absolute; */
  border-radius: 20px;
  /* margin: 5px; */
}

.hero {
  height: 95vh;
  width: 100vw;
  margin-bottom: 25px;
  background-image: linear-gradient(
      to right bottom,
      white,
      rgba(47, 0, 255, 0.726)
    ),
    url(../../assets/full-stack-development.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  /* background: rgba(0, 0, 0, 0.4); */
  clip-path: polygon(0 1.58rem, 100% 1.58rem, 100% 90vh, 0 100%);
}

.header {
  position: relative;
}
/* 
.nav {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  justify-content: center;
} */

/* .nav a {
  /* font-weight: bold; 
  color: darkred !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
} */

.logo-box {
  position: absolute;
  top: 4.3rem;
  /* left: 0.5rem; */
}

.logo {
  height: 17rem;
}

.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: bottom;
}

.heading-primary {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 6.5rem;
  font-weight: bold;
  letter-spacing: 1.3rem;
  line-height: 4.4rem;
}

.heading-primary-sub {
  display: inline-block;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  text-align: center;
  line-height: 2.25rem;
  animation: moveInRight 1s ease-out;
  text-decoration: none;
  border: none;
  background-color: #2196f3;
  cursor: pointer;
  padding: 1.25rem 2.5rem;
  border-radius: 10rem;
  transition: all 0.3s;
  color: #035699;
  margin: 6px 2px;
  /* padding: 15px 32px; */
  /* text-align: center; */
}

.heading-primary-sub:hover {
  /* background-color: var(--color-primary-darker); */
  color: white;
  background-color: hsla(251, 100%, 50%, 0.726);
  transition-duration: 0.4s;
  text-decoration: solid;
  font-weight: bolder;
}
